.flex {
    display: flex;
}

.pl-10 {
    padding-left: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.float-right {
    float: right;
}

.font-normal {
    font-weight: 400;
}